<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
    <div class="card ">
        <div class="card-header text-center">
            <h1>KML Viewer</h1>
        </div>
    </div>
    <br>
    <div class="container col-6">
        <!-- first Row for upload alone -->
        <div class="row">
            <h2>Upload Here</h2>
        </div>
        <!-- for the form to upload -->
            <div class="form-control">
                <!-- form here -->
                <form action="post">
                    <div class="row align-items-start">
                        <div class="col-2">
                            <label for="uploadkml">Upload Here</label>
                        </div>
                        <div class="col-3">
                            <input type="file" name="uploadfile" id="uploadkml">
                        </div>
                        <div class="col-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>